.image-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Четыре равные колонки */
    grid-gap: 10px; /* Отступы между изображениями */
}

.image-grid img {
    width: 100%; /* Изображение займет всю ширину своей ячейки */
    max-width: 100%; /* Ограничиваем максимальную ширину изображения */
    height: auto; /* Поддерживаем соотношение сторон изображения */
}